<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
  <head>
    <title>in-sync</title>
    <meta name="description" content="OAuth 2 Authorization Code Flow example for Spotify.">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/project-avatar/b96c147f-8065-40a6-9908-4fcafce2a361.png" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://sp-bootstrap.global.ssl.fastly.net/8.0.0/sp-bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        in-sync
      </h1>
    </header>

    <main>
      <a href="/logout" class="btn btn-secondary logoutBtn">Logout</a>
      <a class="btn btn-secondary" id="test">Test</a>
      <div>
        <a class="btn btn-primary" id="create">Create a Room</a>
        <form id="join">
          <div class="form-group">
            <label for="roomCode">Room Code</label>
            <input type="text" class="form-control" id="roomCode"  placeholder="Enter room code">   
          </div>
          <button type="submit" class="btn btn-primary">Join Room</button>
        </form>
      </div>
      
      <div id="data-container">
        <ol>
          <!-- This is where we will append our data -->
        </ol>
      </div>
    </main>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/home.js"></script>

  </body>
</html>
